body {
    height: 100%;
    width: 100%;
    background-image: url("images/moutains.jpeg");
    background-color: #137CBD;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    min-width: 500px;
}

.due, table > * {
    font-family: helvetica;
    font-size: 20;
    min-width: 100px;
    text-align: left;
}

#page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-art;    /*align vertically*/
    justify-content: center; /*align horizontally*/
}

#headerbox {
    width: 100%;
    height: 200px;
}

#header { 
    color: #222; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px;
    font-size: 10vw;
    font-weight: bold; 
    letter-spacing: 5px; 
    line-height: 1; 
    text-align: center; 
    text-shadow: -4px 4px 10px gray;
}

#content {
    width: 600px;
    min-height: 300px;
    background-color: white;
    opacity: 0.95;
    margin-top: 0;
    border-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: row;
}

#todo-form-textfield {
    flex-grow: 1;
    width: 530px;
    border: #CED9E0 1px solid;
    border-radius: 4px;
    margin-right: 8px;
    padding: 4px 8px;
    height: 26px;
}

#todo-form-add-button {
    flex-grow: 0;
    background: #137CBD;
    color: white;
    border: #0E5A8A 1px solid;
    border-radius: 4px;
    padding: 4px 12px;
    height: 36px;
    line-height: 1.5;
  
    cursor: pointer;
}

#error-message {
    font-family: helvetica;
    font-size: 11;
    color: red;
}

#todo-list-sort-button, #todo-list-delete-button {
    display: none;
    color:black;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
