body {
    height: 100%;
    width: 100%;
    background-image: url("images/moutains.jpeg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    min-width: 300px;
}

th, td {
    text-align: left;
    min-width: 50px;
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

#page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;    /*align vertically*/
    justify-content: center; /*align horizontally*/
}

#content {
    width: 600px;
    min-height: 300px;
    background-color: white;
    opacity: 0.90;
    margin: 10px;
    border-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: row;
}

#todo-form-textfield {
    background-color: lightgoldenrodyellow;
    flex-grow: 1;
    margin-right: 8px;
}

#todo-form-add-button {
    flex-grow: 0;
}

